button {
  background-color: #a67b5b;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  font-weight: bold;
  padding: 10px 20px;
  width: 150px;
  height: 50px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  opacity: 80%;
}

button:active {
  background-color: #6f4e37;
}

.addToCart {
  background-color: #a67b5b;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  font-weight: bold;
  padding: 10px 20px;
  width: 50%;
  height: auto;
}
